Flask == 1.1.2
Keras == 2.3.1
Werkzeug == 1.0.0
numpy == 1.18.4
pandas == 0.25.3
scikit-learn==0.22.2.post1
scipy == 1.4.1
sklearn == 0.0
tensorflow == 2.2.1
ffprobe == 0.5
ffmpeg == 1.4
pydub == 0.23.1